* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  line-height: 1.25;
}

.site {
  background: radial-gradient(50% 50% at 50% 50%, rgba(150,137,153, 0.9) 0%, rgba(157, 137,153, 0.9) 100%), #968999;
  background-repeat: no-repeat;
  color: #FFF;
  min-height: 120vh; /* allows room for scrolling to see parallax */
  height: 100%;
}

.button {
  background-color: #FFFF7A; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position:relative;
  font-size: 16px;
  opacity: 50%;
}

.site__header,
.site__nav-list {
  display: flex;
}

.site__header {
  position: fixed;
  top: 0;
  right: 1.25rem;
  writing-mode: vertical-rl;
  height: 100%;
  padding: 1.25rem 0;
  z-index: 20; /* to overlap the grid component */
}

.site__header > * {
  flex: 1 1 auto;
  padding-bottom: .625rem;
}

.site__nav-list {
  justify-content: space-between;
  list-style-type: none;
}

.site__nav {
  padding-bottom: 0;
}

.site__nav-link {
  display: block;
  text-decoration: none;
  color: #FFF;
  padding-bottom: .625rem;
}

.site__nav-list li:last-child .site__nav-link {
  padding-bottom: 0;
}

.block {
  display: block;
}

.main {
  padding: 5rem 0;
  display: flex;
  justify-content: center; /* center content horizontally */
  align-items: center; /* center content vertically */
  min-height: 100vh; /* make content as tall as the viewport */
  width: 100%;
}

.container {
  position: relative;
}

/*.heading {
  font-size: 9.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}*/

@media screen and (min-width: 40rem) {
    .heading {
        font-size: 2rem;
        position: absolute;
        left: 0;
        top: 6rem;
        z-index: 10;  to be on top of grid 
    }
}


mark {
  color: #FFF;
  background-color: #000;
  line-height: 1.35;
  padding: 6px;
}

img {
  display: block;
  width: 100%;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 23%;
  padding: 0 4px;
}

.column img {
  margin-top: 5px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
/*@media screen and (max-width: 414px) {
  .column {
    flex: 25%;
    max-width: 25%; 
  }
}*/

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}